{% extends 'base.html' %}
{% block blog %}
    <li class="nav-item">
    <a class="nav-link active text-1 fs-5" href="{% url 'blog' %}">Blog </a>
    </li>
{% endblock blog %}
{% block content %}
<section  class="container container-margin my-5" style="min-height:100vh;">

    <h2 class="text-1" > {{blog.title}} </h2>
    <div class="row">
        <div class="col-xl-12 my-2">
            <div class="card bg-1" style="min-width: 100%;">
                <div class="card-body">
                    <p class="card-text text-white"> {{blog.user.firstname}}</p>
                    <p class="card-text text-white"> {{blog.created_at}}</p>
                    <p class="card-text "> {{blog.summary|safe}}</p>
                    <p class="card-text text-4"> {{blog.content|safe}}</p>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}